APP_NAME=TuHuellaVet
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/tuhuellavet/public
APP_TIMEZONE=America/Bogota

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sistema_veterinario_ganadero
DB_USERNAME=root
DB_PASSWORD=

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME=TuHuellaVet

WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=

SESSION_NAME=tvg_session
SESSION_LIFETIME=7200
CSRF_TOKEN_TTL=3600
