/vendor/
/node_modules/
/.env

/storage/logs/*.log
/storage/cache/*
!/storage/cache/.gitkeep

/storage/
/storage/uploads/*
!/storage/uploads/.gitkeep
!/storage/uploads/**/
!/storage/uploads/**/.gitkeep

/uploads/tmp/*
!/uploads/tmp/.gitkeep

*.zip
*.tar
*.gz
*.sql.gz

/.phpunit.result.cache
/.idea/
/.vscode/settings.json
